<html lang=""en dir ="ltr">
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

<h1><%=kindOfDay%></h1>
<ul>

<% for (let i=0; i<newLists.length; i++){%>
<li><%= newLists[i] %></li>
<% }%>

</ul>




<form action="/" method="post">
  <input type="text" name="newItem">
  
  <button type="submit" name= "button">add+</button>
</form>

</body>
</html>